@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.funnel-sans-font {
  font-family: "Funnel Sans", sans-serif;

}

@import "tailwindcss";
@plugin "daisyui";

a.active {
  color: #ea580c;
}

a.pending {
  color: blue;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  scroll-behavior: smooth;
}